{% extends 'base.html' %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
<style>
    .produto-select-wrapper {
        display: block;
        width: 100%;
        max-width: 500px;
    }

    .produto-select-wrapper .select2-container {
        max-width: 500px;
    }

    .produto-select-wrapper .select2-container .select2-selection--single {
        height: 35px;
        border: 1px solid #767676;
        border-radius: 2px;
        box-sizing: border-box;
    }

    .produto-select-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
        line-height: 33px;
    }

    .produto-select-wrapper .select2-container .select2-selection--single .select2-selection__arrow {
        height: 33px;
    }
</style>
{% endblock %}

{% block content %}

<h2>{{ titulo }}</h2>

<form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div style="color: red; margin-bottom: 15px;">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <p>
        Produto:<br>
        <span class="produto-select-wrapper">
            {{ form.produto }}
        </span>
        {% if form.produto.errors %}
            <br><span style="color:red;">{{ form.produto.errors }}</span>
        {% endif %}
    </p>

    <p>
        Quantidade:<br>
        {{ form.quantidade }}
        {% if form.quantidade.errors %}
            <br><span style="color:red;">{{ form.quantidade.errors }}</span>
        {% endif %}
    </p>

    <p>
        Data do Movimento:<br>
        {{ form.data_movimento }}
        {% if form.data_movimento.errors %}
            <br><span style="color:red;">{{ form.data_movimento.errors }}</span>
        {% endif %}
    </p>

    <p>
        Observação:<br>
        {{ form.observacao }}
        {% if form.observacao.errors %}
            <br><span style="color:red;">{{ form.observacao.errors }}</span>
        {% endif %}
    </p>

    <p>
        Tipo de Movimento:<br>
        {{ form.tipo_movimento }}
        {% if form.tipo_movimento.errors %}
            <br><span style="color:red;">{{ form.tipo_movimento.errors }}</span>
        {% endif %}
    </p>

    <button type="submit" class="btn-save">Salvar</button>
    <a href="{% url 'movimentacoes_estoque:lista' %}" class="btn-cancel">Cancelar</a>
</form>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(function () {
        $('#id_produto').select2({
            placeholder: 'Selecione ou pesquise um produto',
            width: '100%',
            language: {
                noResults: function () {
                    return 'Nenhum produto encontrado';
                }
            }
        });
    });
</script>

{% endblock %}
