{% extends 'base.html' %}

{% block content %}

<h2>
    {% if form.instance.pk %}
        Editar Categoria
    {% else %}
        Nova Categoria
    {% endif %}
</h2>

<form method="post">
    {% csrf_token %}

    <p>
        Nome:<br>
        {{ form.nome }}
    </p>

    <p>
        Descrição:<br>
        {{ form.descricao }}
    </p>

    <p>
        Ativo:
        {{ form.ativo }}
    </p>

    <button type="submit" class="btn-save">Salvar</button>
    <a href="{% url 'categorias:lista' %}" class="btn-cancel">Cancelar</a>
</form>

{% endblock %}