{% extends 'base.html' %}

{% block content %}

<h2>
    {% if form.instance.pk %}
        Editar Usuário
    {% else %}
        Novo Usuário
    {% endif %}
</h2>

<form method="post">

    {% csrf_token %}

    <p>
        Login:<br>
        {{ form.login_acesso }}
    </p>

    <p>
        Email:<br>
        {{ form.email }}
    </p>

    <p>
        Senha:<br>
        {{ form.senha }}
    </p>

    <p>
        Confirmar Senha:<br>
        {{ form.confirmar_senha }}
    </p>

    <p>
        Perfil:<br>
        {{ form.perfil }}
    </p>


    <p>
        Ativo:
        {{ form.ativo }}
    </p>

    <button type="submit" class="btn-save">Salvar</button>

    <a href="{% url 'usuarios:lista' %}" class="btn-cancel">Cancelar</a>

</form>

{% endblock %}